# Deprecated Folder
_deprecated/

# OS Files
**/.DS_Store
**/.DS_Store?

# vscode
.vscode

# env file
.env

# Vim files
*.sw[mnop]

# Notebooks used for experiments
experimental/

# Geofiles
*.geojson

# Datafiles
*.txt

# Jupyter files
*.ipynb_checkpoints

# Netcdf files
*.nc
*.xml

**/ipynb_checkpoints/
**/__pycache__/